/* globals.css */

body {
  background-color: #f6e9d7;
  font-family: Arial, sans-serif;
}

.home-container {
  background-color: #f6e9d7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #977040;
}
.sub-title{
  color: #582626;
}

.custom-button {
  background-color: #582626;
  border-color: #582626;
  color: white;
}

.custom-button:hover {
  background-color: #451b1b;
  border-color: #451b1b;
  color: white;
}

.custom-secondary-button {
  background-color: #977040;
  border-color: #977040;
  color: white;
}

.custom-secondary-button:hover {
  background-color: #785d2c;
  border-color: #785d2c;
}

.custom-button, .custom-secondary-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.custom-table th, .custom-table td {
  color: #582626;
}

.custom-table thead th {
  background-color: #977040;
  color: white;
}

.custom-table tbody tr:hover {
  background-color: #f6e9d7;
}
.btn-outline-primary {
  color: #582626;
  border-color: #582626;
}

.btn-outline-primary:hover {
  background-color: #582626;
  color: white;
}

.btn-outline-danger {
  color: #582626;
  border-color: #582626;
}

.btn-outline-danger:hover {
  background-color: #582626;
  color: white;
}

.modal-content {
  background-color: #f6e9d7;
  border-color: #977040;
}
.custom-table {
  border: 1px solid #dee2e6;
}

.custom-pagination .page-item.active .page-link {
  background-color: #977040;
  border-color: #977040;
  color: white;
}

.custom-pagination .page-link {
  color: #977040;
}

.custom-pagination .page-link:hover {
  background-color: #582626;
  color: white;
}

.custom-input {
  border-radius: 0.25rem;
  border-color: #ced4da;
}

.custom-select {
  border-radius: 0.25rem;
  border-color: #ced4da;
}
.primary td{
  background-color: #58262645;
}
.primary .btn:disabled{
  color: #ced4da;
  border-color:#ced4da;
}


.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.banner-image {
  flex: 1;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #582626; /* Optional: add a background color */
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.header-panel {
  background-color: #977040; /* Dark background color */
  color: #fff; /* White text color */
  border-bottom: 2px solid #582626; /* Border color for the bottom */
  width:100%
}

.header-title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-actions .btn {
  color: #fff; /* White text color */
  border: 1px solid #fff; /* White border */
}

.header-actions .btn:hover {
  background-color: #fff; /* Darker background on hover */
  color: #977040;
  border-color:#977040 ;
}
.logo-img{
  max-height: 80px;
}