/* globals.css */

body {
  background-color: #f6e9d7;
  font-family: Arial, sans-serif;
}

.home-container {
  background-color: #f6e9d7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #977040;
}
.sub-title{
  color: #582626;
}

.custom-button {
  background-color: #582626;
  border-color: #582626;
  color: white;
}

.custom-button:hover {
  background-color: transparent!important;
  border-color: #582626!important;
  color: #582626!important;
}

.custom-button:active{
  background-color: transparent!important;
  border-color: #582626!important;
  color: #582626!important;
}
.custom-button:disabled{
  background-color: transparent!important;
  border-color: #582626!important;
  color: #582626!important;
}
.custom-secondary-button {
  background-color: #977040;
  border-color: #977040;
  color: white;
}
.custom-secondary-button:disabled{
  background-color: #a28f76!important;
  border-color: #977040!important;
  color: white!important;
}
.custom-button:focus-visible{
  background-color: transparent!important;
  border-color: #582626!important;
  color: #582626!important;
  box-shadow:none
}

.custom-secondary-button:hover {
  background-color: #582626;
  border-color: #582626;
}
.custom-secondary:active{
  background-color: #582626!important;
  border-color: #582626!important;
  color: white;
}
.custom-button, .custom-secondary-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.custom-table th, .custom-table td {
  color: #582626;
}

.custom-table thead th {
  background-color: #977040;
  color: white;
}

.custom-table tbody tr:hover {
  background-color: #f6e9d7;
}
.btn-outline-primary {
  color: #582626;
  border-color: #582626;
}

.btn-outline-primary:hover {
  background-color: #582626;
  color: white;
}

.btn-outline-danger {
  color: #582626;
  border-color: #582626;
}

.btn-outline-danger:hover {
  background-color: #582626;
  color: white;
}

.modal-content {
  background-color: #f6e9d7;
  border-color: #977040;
}
.custom-table {
  border: 1px solid #dee2e6;
}

.custom-pagination .page-item.active .page-link {
  background-color: #977040;
  border-color: #977040;
  color: white;
}

.custom-pagination .page-link {
  color: #977040;
}

.custom-pagination .page-link:hover {
  background-color: #582626;
  color: white;
}

.custom-input {
  border-radius: 0.25rem;
  border-color: #ced4da;
}

.custom-select {
  border-radius: 0.25rem;
  border-color: #ced4da;
}
.primary td {
  background-color: #e5a848;
  color: #582626;
}

.archived td {
  background-color: #898989ab;
  color: #5e5e5e;
}
.primary .btn:disabled{
  color: #ced4da;
  border-color:#ced4da;
}
.archived .btn:disabled{
  color: #ced4da;
  border-color:#ced4da;
}


.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.banner-image {
  flex: 1;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6E9D7; /* Optional: add a background color */
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.header-panel {
  background-color: #F6E9D7; /* Dark background color */
  color: #fff; /* White text color */
  border-bottom: 2px solid #582626; /* Border color for the bottom */
  width:100%
}

.header-title h1 {
  margin: 0;
  font-size: 1.5rem;
}
.modal-title{
  color: #582626; /* White text color */
}
.header-actions .btn {
  color: #582626; /* White text color */
  border: 1px solid #582626; /* White border */
}
.modal-body{
  color: #582626; /* White text color */
}
a {
  color: #582626;
  font-weight: 700;
  text-decoration: underline;
}
.btn-link{
  color: #582626; 
}
.btn-link:hover{
  color: #977040;
}
.header-actions .btn:hover {
  background-color: #fff; /* Darker background on hover */
  color: #977040;
  border-color:#977040 ;
}
.logo-img{
  max-height: 110px;
}